# Created by .gitignore support plugin (hsz.mobi)

### Gradle template
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

#Other stuff
.DS_Store
.idea/
FitNesseRoot/properties
FitNesseRoot/updateList
FitNesseRoot/updateDoNotCopyOverList
FitNesseRoot/ErrorLogs/
FitNesseRoot/files/
FitNesseRoot/PageFooter/
FitNesseRoot/PageHeader/
FitNesseRoot/RecentChanges/
FitNesseRoot/TemplateLibrary/




